<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <nav class="container">
    <div class="nav-wrapper row mt-2 w-100">
      <div class="nav-left col-6">
        <a href="/" class="back-to-main btn btn-secondary">回到首頁</a>
      </div>
      <div class="nav-right col-6 d-flex flex-row-reverse">
        <a href="/about" class="about btn btn-secondary ms-3">About</a>
        <a href="/porfolio" class="porfolio btn btn-secondary ms-3">Porfolio</a>
        <a href="/contact" class="contact btn btn-secondary ms-3">Contact</a>
      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>